body{
	font-family: "Proxima Nova", Roboto, sans-serif;
	font-size: 1em;
	margin: 0;
}

#shapka{

	height: 200px;
	z-index: 100;
	background-color: black;
	overflow: hidden;
}
#shapka div{
	width: 900px;
	margin:0 auto 0;
}
#shapka p{
	float: left;
	width: 240px;
	color: white;
	font-weight: 300;
	line-height: 2.042em;
	margin: 40px 0 0 0;
	font-size: 0.8125em;
	letter-spacing: 0.07em;
	word-spacing: 0.7em;
}
#shapka img {
	float: right;
	margin: 55px 0 0 5em;
}



#under_shapka {
	position: fixed;
	top: 0;
	width: 100%;
	height: 5em;
	overflow: hidden;
	background-image: url(res/back_1.png);
	opacity: .95;
	z-index: 90;
}
#under_shapka ul {
	list-style: none;
	padding: 0;
	margin: 0 auto;
	width: 38em;
}
#under_shapka ul li {
	float: left;
	text-transform: uppercase;
	height: 5em;
	margin: 0 auto;
}
#under_shapka ul li a {
	display: block;	
	color:white;
	text-decoration: none;
	font-size: 18px;
	font-weight: 600;
	margin: 0 .8em;
	padding: 31px 1em;
}
#under_shapka ul li a img {
	position: relative;
	top: -4px;
}

#longlist {
	width: 730px;
	margin: 3em auto 0;
	padding-top: 1.5em;
}
/*
#longlist article {
	width: 730px;
	margin: 3em auto 2em;
}
#longlist div.no {
	width: 730px;
	margin: 2em auto;
}
*/
#longlist article h2{
	margin-top: 3em;
	font-size: 1.5em;
	color: #6a;
	font-weight: 400;
	letter-spacing: 1em;
}


hr {
	color: #5a;
	margin-bottom: 2em;
}

#contain {
display: block;
margin: 1em;
}
#contain div img {
	float: left;
	z-index:5;
	position: relative;
	margin: 2em 1em 3em;
}
#contain div p{
	position: absolute;
	top: 100px;
}
#content div {
	width: 100%;
	height: 5em;
	border-style: dashed;
}
#content div p{
	position: relative;
	left: 50%;
	font-size: 2em;
	margin: 0.6em auto;
}
