body{
	font-family: "Proxima Nova", Roboto, sans-serif;
	font-size: 1em;
	margin: 0;
}

#shapka{
	position: relative;
	height: 200px;
	z-index: 100;
	background-color: black;
	overflow: hidden;
}
#shapka div{
	width: 900px;
	margin:0 auto 0;
}
#shapka p{
	float: left;
	width: 240px;
	color: white;
	font-weight: 300;
	line-height: 2.042em;
	margin: 40px 0 0 0;
	font-size: 0.8125em;
	letter-spacing: 0.07em;
	word-spacing: 0.7em;
}
#shapka img {
	float: right;
	margin: 55px 0 0 5em;
}
#backgr{
	position: absolute;
	height: 200px;
	background-color: black;
	width: 100%;
}



#under_shapka {
	position: fixed;
	top: 0;
	width: 100%;
	height: 5em;
	overflow: hidden;
	/*background-image: url(res/back_1.png);*/
	opacity: .95;
	z-index: 90;
	background-color: black;
}
#under_shapka ul {
	list-style: none;
	padding: 0;
	margin: 0 auto;
	width: 45em;
}
#under_shapka ul li {
	float: left;
	text-transform: uppercase;
	height: 5em;
	margin: 0 auto;
}
#under_shapka ul li a {
	display: block;	
		box-sizing: border-box;
	color:white;
	text-decoration: none;
	font-size: 18px;
	font-weight: 600;
	margin: 0 1.5em;
	padding: 31px 1em;
}
#under_shapka ul li a img {
	position: relative;
	top: -4px;
}
#under_shapka ul li:hover {
	outline:solid white 3px;
}





#longlist {
	width: 730px;
	margin: 3em auto 0;
	padding-top: 1.5em;
}
#longlist article{
	margin: 100px 0;
}
#longlist article h2{
	margin-top: 0em;
	font-size: 1.5em;
	color: #6A;
	font-weight: 400;
	letter-spacing: 1em;
}
hr {
	clear:both;
	color: #5a;
	margin-bottom: 2em;
}

.contain::before,
.contain::after {
  content: "";
  display: table;
}
.contain::after {
  clear: both;
}
.contain {
  clear: both;
}
.block {
	float:left;
	width:340px;
	height:300px;
	position: relative;
	margin: 0 25px 25px 0;
}
.block p{
	box-sizing: border-box;
	height: 50px;
	width: 340px;
	margin: 0;
	padding: 0 20px 0 0;
	position: absolute;
	text-align: right;
	font-style: italic;
	font-weight: bold;
	font-size: 1.8em;
	
	bottom: 0;
	border-bottom: solid 2px black; 
	border-right: solid 6px black; 
}
.block img {
	max-height: 300px;
	max-width: 340px;
}
#longlist p img {
	max-height:500px;
	max-width: 500px;
	float: left;
}





















