
body {
	font-family: 'Neucha', cursive;
	font-size: 18px;
	background-color: #fcf3cc;
	
	background-image: url(res/headwhite.png), url(res/bgwhite.png),url(res/bgblue.png);
	background-repeat:no-repeat, repeat-x, repeat-x;
	background-position:  center top,  2em top ,  center top 100px;
	background-attachment: scroll,scroll,scroll;
	/*background: 
	#fcf3cc url(res/headwhite.png) no-repeat top scroll,
	;*/
}

a {
	text-decoration: none;
}

a:hover { 
    text-decoration: underline; 
   }
 
 h1 {
	font-size: 2em;
}
#toUp {
	position: fixed;
	bottom: 2em;
	right: 2em;
}




/*  ТОП  */


#phone {
	clear: left;
	font-size: 1.4em;
	margin: 40px 0;
	padding: 0 5px 0 0;
}
#top nav{
float: left;
position: relative;
top: 103px;
}
#logo{
float: left;
}
#left {
margin:	0 40px 0 34px;
}
#right {
margin:	0 0 0 40px;
}
#top{
	margin: 0 auto 60px;
text-align: center;
width: 800px;
}
#top h1 {
	font-size: 2.5em;
	margin: 30px 0 0;
}

#top h2 {
	font-size: 1.25em;
	margin: 0px 0 15px;
}

#top nav a {
	font-size: 1.25em;
	max-width: 100px;
	color: black;
	float: left;
	padding: 0 25px 0;
}





#descript h1 {
	text-align: left!important;
}
#content section h1 {
	clear: both;
	text-align: center;
}
.strip{
	clear: both;

	margin: 80px auto 0;
	max-width: 750px;
}




/*  МЕНЮ */


#content{
width: 768px;
margin: 0 auto 60px;
}
#descript {
	width: 400px;
	height: 300px;
	float: left;	
}
#pic {
	width: 368px;
	height: 300px;
	float: right;
}
#pic img{
	max-width: 368px;
	margin: 0;
}
#descript .price {
	font-size: 2em;
}
.price {
	float:right;
}
.nomain {
	width: 300px;
	float:left;
	margin: 20px 40px;
}


.nomain h2 {
	float: left;
	font-size: 1.5em;
	margin: 0;
}
.nomain span.price {
	font-size: 1.4em;
}
.nomain p{
	clear: left;
}
.nomain img{
	max-width: 300px; 
	margin:25px 0;
}
.colums {
	width: 300px;
	float: left;
	margin:5px 40px;

}
.colums p {
	margin: 5px;
	font-size: 1.5em;
}
.colums p span.price{
	float:right;
}




/*   ДОСТАВКА   */


#delivery img {
	float: left;
	max-width: 350px
}
#delivery p {
	margin: 50px;
	text-align: right;
}


/*   НОВОСТИ   */


#news img {
	max-width: 350px;
	margin: 20px auto 0;
}
#news {
	text-align: center;
}

#3d {
	height: 568px;
}

/*   КОНТАКТЫ   */

#leftside {
	font-size: 1.3em;
		float: left;
}

#rightside {
	text-align:right;
	font-size: 1.3em;
		float: right;
}
#bye {
	margin: 50px 0 50px;
	font-size: 1.8em;
	text-align: center;
	clear: both;
	font-weight: lighter;
}
.phoneMail {
	display: block;
	font-size: 1.35em;
	margin: 15px 0 60px;
	font-weight: bold;
}
/**/
